Advanced Data Structures/Collections in Python

The advanced data structures include:
deque,
namedtuple,
ChainMap,
Counter,
OrderedDict,
defaultdict.

In [1]:
#1.Deque (Double-Ended Queue)
from collections import deque

# Create a deque
d = deque()

# Add elements to the deque
d.append(1)
d.appendleft(2)
print(d)

# Remove elements from the deque
d.pop()
d.popleft()
print(d)
d.extend([1,2,3])
print(d)
d.extendleft([6,5,4])
print(d)

deque([2, 1])
deque([])
deque([1, 2, 3])
deque([4, 5, 6, 1, 2, 3])

In [2]:
from collections import deque

# Create a deque with an initial list of elements
my_deque = deque([1, 2, 3, 4, 5])

# Print the initial deque
print("Initial deque:", my_deque)
# Append an element to the right (end) of the deque
my_deque.append(6)
print("After appending 6 to the right:", my_deque)

# Append an element to the left (start) of the deque
my_deque.appendleft(0)
print("After appending 0 to the left:", my_deque)

# Pop an element from the right (end) of the deque
popped_right = my_deque.pop()
print(f"After popping from the right ({popped_right} removed):", my_deque)

# Pop an element from the left (start) of the deque
popped_left = my_deque.popleft()
print(f"After popping from the left ({popped_left} removed):", my_deque)

# Extend the deque by adding multiple elements to the right
my_deque.extend([7, 8])
print("After extending deque on the right with [7, 8]:", my_deque)

# Extend the deque by adding multiple elements to the left
my_deque.extendleft([-2, -1])
#[7,8,-2,-1,1,2,3,4,5]
#[5,7,8,-2,-1,1,2,3,4]
print("After extending deque on the left with [-2, -1]:", my_deque)

# Rotate the deque by n steps (positive to the right, negative to the left)
my_deque.rotate(3)
print("After rotating right by 2:", my_deque)

my_deque.rotate(-2)
print("After rotating left by 2:", my_deque)

# Clear all elements from the deque
my_deque.clear()
print("After clearing the deque:", my_deque)

Initial deque: deque([1, 2, 3, 4, 5])
After appending 6 to the right: deque([1, 2, 3, 4, 5, 6])
After appending 0 to the left: deque([0, 1, 2, 3, 4, 5, 6])
After popping from the right (6 removed): deque([0, 1, 2, 3, 4, 5])
After popping from the left (0 removed): deque([1, 2, 3, 4, 5])
After extending deque on the right with [7, 8]: deque([1, 2, 3, 4, 5, 7, 8])
After extending deque on the left with [-2, -1]: deque([-1, -2, 1, 2, 3, 4, 5, 7, 8])
After rotating right by 2: deque([5, 7, 8, -1, -2, 1, 2, 3, 4])
After rotating left by 2: deque([8, -1, -2, 1, 2, 3, 4, 5, 7])
After clearing the deque: deque([])

In [3]:
# Create a list
lst = [1, 2, 3, 4, 5]

# Insert an element at the left end (index 0)
lst.insert(0, 5)  # Adds 0 at the beginning of the list

print("List after inserting at the left:", lst)


lst.insert(2, 10)  # Adds 10 at the 2nd index of the list

print("List after inserting at the left:", lst)

List after inserting at the left: [5, 1, 2, 3, 4, 5]
List after inserting at the left: [5, 1, 10, 2, 3, 4, 5]

In [4]:
#2. namedtuple
from collections import namedtuple

# Define a namedtuple called 'Person'

Person= namedtuple('Person', ['name', 'age', 'city'])

# Create an instance of Person
person1 = Person(name='John Doe', age=30, city='New York')

# Access fields by name
print(person1.name)
print(person1.age)
print(person1.city)

John Doe
30
New York

In [5]:
from collections import namedtuple

# Define the namedtuple
Person = namedtuple('person', ['name', 'age', 'city'])

# Create a Person object from a list
person_data = ['John Doe', 28, 'New York']
person = Person._make(person_data)

# Access fields by name
print(person.name)
print(person.age)
print(person.city)

# Access fields by index
print(person[0])
print(person[1])
print(person[2])

# Convert namedtuple to a dictionary
person_dict = person._asdict()
print(person_dict)

# Replace a value in the namedtuple
new_person = person._replace(age=30)
print(new_person)
# Unpack the namedtuple
name, age, city = person
print(name, age, city)

John Doe
28
New York
John Doe
28
New York
{'name': 'John Doe', 'age': 28, 'city': 'New York'}
person(name='John Doe', age=30, city='New York')
John Doe 28 New York

In [6]:
#WITH MULTIPLE VALUES:

from collections import namedtuple

# Define the namedtuple
Person = namedtuple('person', ['name', 'age', 'city'])

# Define multiple person data entries
person_data_list = [
    ['John Doe', 28, 'New York'],
    ['Jane Smith', 34, 'Los Angeles'],
    ['Emily Davis', 22, 'Chicago'],
    ['Michael Brown', 45, 'Houston'],
    ['Sarah Johnson', 30, 'San Francisco']
]

# Create a list of Person objects
persons = [Person._make(data) for data in person_data_list]

# Access fields by name
print("Accessing fields by name:")
for person in persons:
    print(f"Name: {person.name}, Age: {person.age}, City: {person.city}")

# Access fields by index
print("\nAccessing fields by index:")
for person in persons:
    print(f"Name: {person[0]}, Age: {person[1]}, City: {person[2]}")

Accessing fields by name:
Name: John Doe, Age: 28, City: New York
Name: Jane Smith, Age: 34, City: Los Angeles
Name: Emily Davis, Age: 22, City: Chicago
Name: Michael Brown, Age: 45, City: Houston
Name: Sarah Johnson, Age: 30, City: San Francisco

Accessing fields by index:
Name: John Doe, Age: 28, City: New York
Name: Jane Smith, Age: 34, City: Los Angeles
Name: Emily Davis, Age: 22, City: Chicago
Name: Michael Brown, Age: 45, City: Houston
Name: Sarah Johnson, Age: 30, City: San Francisco

In [7]:
#3. ChainMap
from collections import ChainMap

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

# Create a ChainMap:
combined = ChainMap(dict1, dict2)

# Access values
print(combined['a'])
print(combined['b'])
print(combined['c'])
print(combined.maps[1]['b'])

1
2
4
3

In [8]:
from collections import ChainMap

# Create two dictionaries
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'd': 5, 'e': 6}

# Combine the dictionaries using ChainMap
combined = ChainMap(dict1, dict2)

# Display the combined ChainMap
print("Combined ChainMap:", combined)

# Accessing values
print("Value of 'a':", combined['a'])
print("Value of 'b':", combined['b'])
print("Value of 'd':", combined['d'])
# Update a value
combined['b'] = 10
dict2['b'] = 7
print("Updated 'b' in combined ChainMap:", combined)
print("Updated dict1:", dict1)
print("Updated dict2:", dict2)

# Add a new key-value pair
combined['f'] = 7
print("Added 'f' to combined ChainMap:", combined)
print("Updated dict1:", dict1)
print("Updated dict2:", dict2)

# Access all keys, values, and items
print("All keys:", list(combined.keys()))
print("All values:", list(combined.values()))
print("All items:", list(combined.items()))

Combined ChainMap: ChainMap({'a': 1, 'b': 2, 'c': 3}, {'b': 4, 'd': 5, 'e': 6})
Value of 'a': 1
Value of 'b': 2
Value of 'd': 5
Updated 'b' in combined ChainMap: ChainMap({'a': 1, 'b': 10, 'c': 3}, {'b': 7, 'd': 5, 'e': 6})
Updated dict1: {'a': 1, 'b': 10, 'c': 3}
Updated dict2: {'b': 7, 'd': 5, 'e': 6}
Added 'f' to combined ChainMap: ChainMap({'a': 1, 'b': 10, 'c': 3, 'f': 7}, {'b': 7, 'd': 5, 'e': 6})
Updated dict1: {'a': 1, 'b': 10, 'c': 3, 'f': 7}
Updated dict2: {'b': 7, 'd': 5, 'e': 6}
All keys: ['b', 'd', 'e', 'a', 'c', 'f']
All values: [10, 5, 6, 1, 3, 7]
All items: [('b', 10), ('d', 5), ('e', 6), ('a', 1), ('c', 3), ('f', 7)]

In [9]:
# Create a new dictionary
dict3 = {'g': 8, 'h': 9}

# Create a new ChainMap with dict3 as the first dictionary
new_combined = combined.new_child(dict3)

# Display the new ChainMap
print("New Combined ChainMap with dict3:", new_combined)

# Access the underlying maps
print("Underlying maps in the original ChainMap:", combined.maps)
print("Underlying maps in the new ChainMap:", new_combined.maps)

New Combined ChainMap with dict3: ChainMap({'g': 8, 'h': 9}, {'a': 1, 'b': 10, 'c': 3, 'f': 7}, {'b': 7, 'd': 5, 'e': 6})
Underlying maps in the original ChainMap: [{'a': 1, 'b': 10, 'c': 3, 'f': 7}, {'b': 7, 'd': 5, 'e': 6}]
Underlying maps in the new ChainMap: [{'g': 8, 'h': 9}, {'a': 1, 'b': 10, 'c': 3, 'f': 7}, {'b': 7, 'd': 5, 'e': 6}]

In [10]:
#4. Counter
from collections import Counter

# Count elements in a list
fruits = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
counter = Counter(fruits)

print(counter)

# Access counts
print(counter['apple'])  # Output: 3
print(counter['banana']) # Output: 2

Counter({'apple': 3, 'banana': 2, 'orange': 1})
3
2

In [11]:
from collections import Counter

a=[1, 2, 'STRING', 4 ,1, 2, 5, 6, 8, 9, 6, 2, 5, 1, 8, 9, 4, 3, 7, 5, 8, 8, 3, 1, 5]
counter = Counter(a)
print(counter)
print(counter[4])
print(counter['STRING'])

Counter({1: 4, 5: 4, 8: 4, 2: 3, 4: 2, 6: 2, 9: 2, 3: 2, 'STRING': 1, 7: 1})
2
1

In [12]:
from collections import Counter

# Define a sentence
sentence = "Python is great language and easy to learn also Python is powerful amongst all"

counter=Counter(sentence)
# Split the sentence into words
words = sentence.split()

# Use Counter to count the occurrences of each word
word_count = Counter(words)

# Print the word count
print(word_count)
print(counter)

Counter({'Python': 2, 'is': 2, 'great': 1, 'language': 1, 'and': 1, 'easy': 1, 'to': 1, 'learn': 1, 'also': 1, 'powerful': 1, 'amongst': 1, 'all': 1})
Counter({' ': 13, 'a': 9, 'o': 6, 'n': 6, 'l': 6, 't': 5, 's': 5, 'e': 5, 'g': 4, 'y': 3, 'r': 3, 'P': 2, 'h': 2, 'i': 2, 'u': 2, 'd': 1, 'p': 1, 'w': 1, 'f': 1, 'm': 1})

In [13]:
#5. OrderedDict
from collections import OrderedDict

# Create an OrderedDict
od = OrderedDict()
od['a'] = 5
od['b'] = 7
od['c'] = 3
od['d'] = 4
od['e']= 'word'

# Print the OrderedDict
print(od)
print(od['e'])
print(od['b'])

OrderedDict([('a', 5), ('b', 7), ('c', 3), ('d', 4), ('e', 'word')])
word
7

In [14]:
from collections import defaultdict

# Create an defaultdict
od = defaultdict(int)
od['a'] = 5
od['b'] = 7
od['c'] = 3
od['d'] = 4
od['e']= 6

# Print the OrderedDict
print(od)
print(od['e'])
print(od['f'])

defaultdict(<class 'int'>, {'a': 5, 'b': 7, 'c': 3, 'd': 4, 'e': 6})
6
0

In [15]:
#6. DefaultDict
from collections import defaultdict

D = defaultdict(int)
D['python']=1
D['Java']=2
print(D['SQL'])
print(D)
print(D['Power BI'])
print(D)

0
defaultdict(<class 'int'>, {'python': 1, 'Java': 2, 'SQL': 0})
0
defaultdict(<class 'int'>, {'python': 1, 'Java': 2, 'SQL': 0, 'Power BI': 0})

In [17]:
from collections import defaultdict

# Create a defaultdict with default type int
dd = defaultdict(int)

# Add values
dd['1'] = 'Apple'
dd['banana'] += 2
dd['grapes'] +=3


# Print defaultdict
print(dd)
print(dd['grapes'])
print(dd['guava'])
print(dd['1'])
print(dd['Banana'])
print(dd)

defaultdict(<class 'int'>, {'1': 'Apple', 'banana': 2, 'grapes': 3})
3
0
Apple
0
defaultdict(<class 'int'>, {'1': 'Apple', 'banana': 2, 'grapes': 3, 'guava': 0, 'Banana': 0})